<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();
$attributesBlock = $block->getLayout()->getBlock('product.attributes');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');

$_additional = $attributesBlock->getAdditionalData();
$additionalNew = array();

if ( isset($_additional['brands']) ) {
    $additionalNew['brands'] = $_additional['brands'];
}

if ( isset($_additional['food_tags']) ) {
    $additionalNew['food_tags'] = $_additional['food_tags'];
}

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
?>

<?php if (!empty($additionalNew)): ?>
    <div class="additional-attributes-wrapper table-wrapper">
        <table class="data table additional-attributes" id="product-attribute-specs-table">
            <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('Ingredients') ?></caption>
            <tbody>
            <?php foreach ($additionalNew as $_data): ?>
                <tr>
                    <th class="col label" scope="row"><?php echo $block->escapeHtml(__($_data['label'])) ?></th>
                    <td class="col data" data-th="<?php echo $block->escapeHtml(__($_data['label'])) ?>">
                        <?php
                        $attr = $_product->getResource()->getAttribute($_data['code']);
                        $attr_type = $attr->getFrontendInput();
                        $searchable = $attr->getIsVisibleInAdvancedSearch();
                        ?>
                        <?php if( $attr_type == "select" and $searchable ): ?>

                            <?php
                            $option_id = 0;
                            if ($attr->usesSource()) {
                                $option_id = $attr->getSource()->getOptionId($_helper->productAttribute($_product, $_data['value'], $_data['code']));
                            }
                            ?>
                            <a style="text-decoration:none;" href="<?php echo $storeManager->getStore()->getBaseUrl(); ?>catalogsearch/advanced/result/?<?php echo $_data['code']; ?>=<?php echo $option_id; ?>" ><?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></a>

                        <?php elseif ( $attr_type == "multiselect" and $searchable ): ?>

                            <?php
                            $attr = $_product->getResource()->getAttribute($_data['code']);
                            $options_arr =  explode(',',$_data['value']);
                            foreach( $options_arr as $key=>$opt ){
                                $opt = trim($opt);
                                if ($attr->usesSource()) {
                                    $option_id = $attr->getSource()->getOptionId($_helper->productAttribute($_product, $opt, $_data['code']));
                                    $opt = ' <a style="text-decoration:none;" href="'.$storeManager->getStore()->getBaseUrl() . 'catalogsearch/advanced/result/?'. $_data['code'] .'='.$option_id .'" >'.$_helper->productAttribute($_product, $opt, $_data['code']).'</a> ';
                                }
                                $options_arr[$key] = $opt;
                            }
                            echo implode(',',$options_arr);
                            ?>

                        <?php elseif ( ($attr_type == "textarea" or $attr_type == "text") and $searchable ): ?>

                            <?php $attr = $_product->getResource()->getAttribute($_data['code']);  ?>


                            <a style="text-decoration:none;" href="<?php echo $storeManager->getStore()->getBaseUrl(); ?>catalogsearch/advanced/result/?<?php echo $_data['code']; ?>=<?php echo urldecode($_data['value']); ?>" ><?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></a>



                        <?php else: ?>
                            <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?>
                        <?php endif; ?>

                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php endif;?>

<?php if ($_attributeValue): ?>
<div class="product attibute <?php /* @escapeNotVerified */ echo $_className?>">
    <?php if ($_attributeLabel != 'none'): ?><strong class="type"><?php /* @escapeNotVerified */ echo $_attributeLabel?></strong><?php endif; ?>
    <div class="value" <?php /* @escapeNotVerified */ echo $_attributeAddAttribute;?>><?php /* @escapeNotVerified */ echo $_attributeValue; ?></div>
</div>
<?php endif; ?>
