<div class="how-it-works" class="how-it-works">
    <div class="container">
        <h3>How it works</h3>
        <div class="step get">
            <div class="info">
                <h4>Get the <strong>app</strong></h4>
                <p>We have developed an iPhone App for placing orders. An Android version will follow shortly after. The App will be free to download.</p>
            </div>
            <img src="<?php echo $block->getViewFileUrl('Mell_All::images/pic_phone.png')?>" alt="">
        </div>
        <div class="step add">
            <div class="info">
                <h4><strong>Add items</strong> to your order</h4>
                <p>Add groceries to your shopping cart through the App as you think of them or run out of things throughout the day. If you cart is over $30 it will be sent to us automatically at 10pm for delivery the next day.</p>
            </div>
            <img src="<?php echo $block->getViewFileUrl('Mell_All::images/pic_groceries.png')?>" alt="">
        </div>
        <div class="step deliver">
            <div class="info">
                <h4><strong>Delivered</strong> the next day</h4>
                <p>Your order will be delivered to you by bicycle the next day in a re-usable bag. Next time you have a delivery give your rider the bag or leave it out for them.</p>
            </div>
            <img src="<?php echo $block->getViewFileUrl('Mell_All::images/pic_bicycle.png')?>" alt="">
        </div>
    </div>
</div>