@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: none;
	outline:none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
@font-face {
 font-family:'Calibri';
 src: url('../fonts/Calibri.ttf') format('truetype');
}
@font-face {
 font-family:'Bushcraft';
 src: url('../fonts/Bushcraft.otf') format('opentype');
}
body {
	overflow: visible;
	background:url(../images/pcBg.png) left top repeat;
}
.popup_container {
	font-family:'Calibri';
}
body .welcome_sec {
	margin:auto;
	/*width:821px;*/
	width: 85%;
	height:805px;
	text-align:center;
}
body .wTop {
	background:url(../images/pTopBG.png) left 64px no-repeat;
	padding:0 20px 0 1px;
	background-size: 100% !important;
}
body .wBottom {
	background:url(../images/pBottomBG.png) left bottom no-repeat;
	padding:0 0px 70px 1px;
	background-size: 101% 100%;
	/*border-right: 1px solid #fff;*/
}
body .wLogo {
	margin:auto;
	position: relative;
}
body .wTxt {
	margin:auto;
	padding: 30px 0 0 0;
}
body .wTxt h1 {
	font-family:'Bushcraft';
	font-size:66px;
	font-weight:normal;
	color:#96c11f;
	text-transform:uppercase;
}
body .wTxt p {
	font-size:24px;
	font-weight:normal;
	color:#479a36;
	padding: 20px 0;
}
body .wCheck_sec {
	margin:auto;
	text-align:left;
	/*width:575px;*/
	width: 70%;
	padding: 10px 0 80px 0;
}
body .input_tbox_check {
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-khtml-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-khtml-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	background-color:#fff;
	color:#999999;
	font-size:18px;
	border:2px solid #999;
	/*width:380px;*/
	width:100%;
	height:51px;
	font-family:'Calibri';
	padding:0 0 0 14px;
}
body .wTbox_location {
	/*background:url(../images/icon_txtbox.png) center right no-repeat;*/
}
body .input_check {
	background:url(../images/check_btn.png) left center no-repeat;
	color: #fff;
	cursor: pointer;
	height: 56px;
	width: 168px;
	/*width:100%;*/
	font-weight: bold;
	font-size:24px;
	font-family:'Calibri';
	margin: 0 0 0 5px;
}
body .wCheck_sec span {
	display:block;
	font-size:14px;
	color:#999;
	padding: 10px 0 20px 0;
}
body .wCheck_sec p {
	display:block;
}
.fullSizemap img
{
	width:100%;
}


.left-nopadding
{
    padding-left: 0px;
}
.right-padding
  {
    padding-right: 6px;
  }
  
  
  .centerDiv
  {
	width:80%;  
	margin:0 auto;
  }
  .textboxwidth
  {
	  width:63%;
	  float:left;
	  padding-right:15px;
	 
  }
  .buttonwidth
  {
	  width:20%; 
	  float:left;
	  padding-right:15px;
	  padding-left:0px; 
	      margin-left: 10px;
	  
	  
  }
  
  @media(min-width: 800px)
  {
  	body .welcome_sec{
  		min-width: 800px;
  		width: 58%;
  	}
  }
  @media(max-width: 800px)
  {
  	body .current-location-icon{
		right: 12px !important;
    	top: 2px !important;
	}
  }

  @media(max-width: 767px)
  {
  	body .wTxt{
  		background-color: white;
  		padding: 0px 0 0 0 !important;
		margin-top: 32px !important;
  	}
  	body .wTop{
  		background: url(../images/pTopBG.png) left 103px no-repeat;
  		padding-right: 0px;
  		padding-left: 0px;
  	}
  	body .wTxt p{
  		font-size: 28px;
		color: #479a36;
		padding: 5% 6%;
  	}
  	.textboxwidth{
  		width: 100%;
  	}
  	body .wCheck_sec span{
  		font-size: 18px;
  	}
  	body .buttonwidth{
  		padding: 0px;
		margin: 0px;
		width: 100%;
		margin-bottom: 15px;
  	}
  	body .input_check{
  		width: 100%;
  		background: url(../images/mcheck_btn.png) left center no-repeat;
  		background-size: 100%;
  	}
  	body .close-button{
  		top: 125px;
		font-size: 18px;
  	}
  	body .wCheck_sec{
  		width: 85%;
  	}
  }

  @media(max-width: 1150px)
  {
	.wCheck_sec
	{
		width:90%;
	}
	    right-padding
		{
			padding-right:15px;
		}
		.left-nopadding
		{
		padding-left:15px;	
		}
		.welcome_sec
		{
			width: 75%;
		}
	  
  }
  @media(max-width: 770px)
	{
		.wCheck_sec
	      {
		width:96%;
	      }
		.welcome_sec
		{
			width: 90%;
		}
		.wBottom
		{
			padding: 0px 20px 70px 20px;
		}
	}
	
	@media(max-width: 690px)
	 {
		 .textboxwidth input
		 {
			    padding-left: 2px; 
		 }
		 .buttonwidth 
		 {
			width:100%; 
			 padding-right:0px;
			 margin-left: 0px;
		 }
		 .left-nopadding
		 {
			padding-left: 0px;
		 }
		 .textboxwidth
		 {
			 width:100%;
		 }
		 .wTxt
		 {
			padding-right: 20px;
            padding-left: 20px;
		 }
		 .input_check
		 {
		     background-size: 100%;
		 }
		  .top-marg
		  {
			margin-bottom:15px;  
		  }
		 .input_check 
		 {
			 width:100%;
		 }
		.welcome_sec
		{
			width: 90%;
		}
	}
#googleMap{
	width: 100%;
	height:248px;
}

.close-button{
	position: absolute;
	right: -10px;
	top: 95px;
	font-size: 24px;
	cursor: pointer;
	color: rgb(25, 121, 195);
}
.copyright{
	display: none;
}

body .textboxwidth{
	position: relative;
}
body .current-location-icon{
	position: absolute;
	right: 17px;
	bottom: 35px;
	cursor: pointer;
}
@media(max-width: 480px)
{
	body .wTop{
		padding: 0px !important;
	}
	body .wTxt{
		background-color: #fff !important;
		padding: 20px 0 0 0 !important;
    	margin-top: 10px !important;
	}
	body .current-location-icon{
		right: 11px;
    	bottom: 62px;
	}
}