.how-it-works {
    z-index: 2;
    position: relative;
    float: left;
    width: 100%;
    padding: 102px 0 0;
    padding: 6.375rem 0 0;
    color: #459536;
}

.how-it-works .container {
    margin: 0 auto;
    max-width: 600px;
}
.how-it-works h3 {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 220px;
    margin-bottom: 22.75rem;
    font-family: 'BushcraftTextured', Helvetica, Arial, sans-serif;
    font-size: 66px;
    font-size: 4.125rem;
    line-height: 0.8484848485em;
    text-align: center;
}

.how-it-works h3:after {
    position: absolute;
    bottom: -222px;
    left: 50%;
    width: 62px;
    height: 202px;
    margin-left: -30px;
    content: '';
    background: transparent url("../images/ui_steps_arrow.png") 0 0 no-repeat;
}

.how-it-works .step {
    z-index: 1;
    position: relative;
    display: inline-block;
    clear: left;
    width: 100%;
    margin-bottom: 144px;
    margin-bottom: 9rem;
    padding-top: 286px;
    padding-top: 25.875rem;
}

.how-it-works .step:before {
    position: absolute;
    top: -95px;
    left: 50%;
    width: 62px;
    height: 61px;
    margin-left: -30px;
    content: '';
    background: #fff url("../images/ui_steps_01.jpg") 0 0 no-repeat;
}

.how-it-works .step:after {
    position: absolute;
    bottom: -180px;
    left: 50%;
    width: 10px;
    height: 180px;
    margin-left: -5px;
    content: '';
    background: #459536;
}

.how-it-works .step img {
    position: absolute;
    top: 0;
    left: 50%;
}

.how-it-works .step .info {
    float: left;
    max-width: 540px;
}

.how-it-works .step.get img {
    margin-left: -81px;
}

.how-it-works .step.add {
    padding-top: 324px;
    padding-top: 30.25rem;
}

.how-it-works .step.add:before {
    background: transparent url("../images/ui_steps_02.jpg") 0 0 no-repeat;
}

.how-it-works .step.add img {
    margin-left: -98px;
}

.how-it-works .step.deliver {
    margin-bottom: 88px;
    margin-bottom: 8.5rem;
    padding-top: 177px;
    padding-top: 16.0625rem;
}

.how-it-works .step.deliver:before {
    background: transparent url("../images/ui_steps_03.jpg") 0 0 no-repeat;
}

.how-it-works .step.deliver:after {
    display: none;
    visibility: hidden;
}

.how-it-works .step.deliver img {
    margin-left: -48%;
}

.how-it-works h4 {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 1.1666666667em;
    font-weight: 700;
}

.how-it-works h4 strong {
    color: #8fc23f;
}

@media screen and (min-width: 460px) {
    .how-it-works .step.deliver {
        padding-top: 20.75rem;
    }
}

@media screen and (min-width: 1150px) {
    .how-it-works {
        z-index: 2;
        position: relative;
        float: left;
        width: 100%;
        padding: 6.375rem 0 1.9375rem;
        background: transparent url("../images/bg_how_arrows_d.png") center 150px no-repeat;
        color: #459536;
    }
    .how-it-works .container {
        max-width: 1257px;
        padding: 0;
    }
    .how-it-works h3 {
        font-family: 'font2';
        margin-bottom: 17.5rem;
        font-size: 5rem;
        line-height: 0.975em;
    }
    .how-it-works h3:after {
        display: none;
        visibility: hidden;
    }
    .how-it-works .step {
        float: left;
        margin-bottom: 19.75rem;
        padding-top: 0 !important;
    }
    .how-it-works .step:before, .how-it-works .step:after {
        display: none;
        visibility: hidden;
    }
    .how-it-works .step img {
        left: auto;
        margin: 0 !important;
    }
    .how-it-works .step .info {
        float: left;
        max-width: 540px;
    }
    .how-it-works .step.get img {
        top: -7px;
        right: 224px;
    }
    .how-it-works .step.add {
        margin-bottom: 12.4375rem;
    }
    .how-it-works .step.add .info {
        float: right;
        max-width: 471px;
    }
    .how-it-works .step.add img {
        top: -141px;
        left: 177px;
    }
    .how-it-works .step.deliver {
        margin-bottom: 5.5625rem;
    }
    .how-it-works .step.deliver img {
        top: -40px;
        right: 117px;
    }
    .how-it-works h4 {
        font-size: 1.875rem;
        line-height: 1.1666666667em;
        font-weight: 700;
    }
    .how-it-works h4 strong {
        color: #8fc23f;
    }
}

.page-home .container p {
    font-size: 13pt;
}

.page-home .container h4 {
    font-size: 150%;
}
