.input-group .control {
    background-color: transparent;
    background-image: url("../images/search-bg.png");
    background-size: 100% 100%;
}

.input-group {
    display: table;
}

.input-group .input-group-addon {
    display: table-cell;
}

.category-select {
    display: table-cell;
    border: 0px;
    left: 5px;
    position: relative;
}

@media only screen and (max-width: 767px) {
    .sections.nav-sections {
        width: 70%;
    }
}

.block-minicart .items-total {
    text-align: left;
    float: none;
    margin-bottom: 8px;
    margin-top: -17px;
}

.top-cart-btn-checkout {
    float:left;
}

.top-cart-btn-view {
    background-color: transparent !important;
    background-image: url("../images/view-cart-btn-bg.png") !important;
    background-size: 100% 100% !important;
    border: medium none !important;
    line-height: 2.2rem !important;
    padding: 14px 17px !important;
    font-size: 1.8rem !important;
    width: 40% !important;
}

#top-cart-btn-checkout {
    background-color: transparent;
    background-image: url("../images/checkout-btn-bg.png");
    background-size: 100% 100%;
    border: medium none;
    width: 115%;
}

.product-item-details {
    text-align: left;
}

.minicart-price .price {
    color: #8fc23f;
    font-size: 2rem !important;
}

.minicart-wrapper .block-minicart input.item-qty {
    background-image: url("../images/quantity.png") !important;
    border: none;
    width: 50px;
    background-size: 100% 100%;
}

.minicart-items .product-item-pricing .label {
    display: inline-block;
    width: 2.7rem;
}

.minicart-items .product-item-name a {
    color: #666666;
    font-weight: bold;
    font-size: 17px;
    font-family: calibri;
}

.product-item::before{
    background:url("../images/border-mini-cart.png");
    width:100%;
    height:20px;
}

.minicart-items-wrapper {
    border: 2px solid;
    border-image: url("../images/border-mini-cart.png") 30 round;
    margin: 0px -16px;
}


.minicart-items .product-item:not(:first-child) {
    border: 2px solid;
    border-image: url("../images/border-mini-cart.png") 30 round;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.minicart-wrapper.active .block-minicart {
    display: block;
    background-color: transparent;
    box-shadow: none;
}

.block-minicart .items-total .count {
    font-weight: normal;
}

.block-minicart .items-total {
    font-size: large;
}

.block-minicart .subtotal {
    margin: 20px 30px 10px 80px;
    text-align: left;
    font-size: large;
    font-family: calibri;
}

.block-minicart .subtotal .price-container {
    float: right;
    color: #479A36;
    margin-top: -10px;
}

.block-minicart .amount .price-wrapper:first-child .price {
    font-size: 30px;
    font-weight: 700;
}

.minicart-items .product-item-details .price {
    font-weight: 500;
}

.minicart-price .price {
    font-size: 3.3rem !important;
}

@media only screen and (max-width: 767px) {
    .secondary .top-cart-btn-view {
        width: auto !important;
    }

    #top-cart-btn-checkout {
        font-size: small;
    }

    .block-minicart .subtotal {
        margin: 14px 5px 7px 43px;
        font-size: small;
    }

    .top-cart-btn-view span {
        font-size: small;
    }

    .minicart-wrapper .block-minicart:before {
        left: auto;
        right: 15px !important;
    }
}

.minicart-wrapper .block-minicart:before {
    left: auto;
    right: 20px;
    border-color: transparent transparent #968f8f transparent;
}

.minicart-wrapper .action.close {
    height: 45px;
}

.minicart-wrapper .block-minicart:after {
    display: none;
}

@media (max-width: 414px) {
    .minicart-wrapper .product .actions > .primary, .minicart-wrapper .product .actions > .secondary {
        margin-left: -10px;
    }
    .minicart-wrapper .block-minicart:before {
        left: auto;
        right: 13px !important;
    }
}

.minicart-wrapper .block-minicart {
    background-image: url(../images/mini-cart-bg.png) !important;
}

.payment-method .payment-method-billing-address {
    display: none;
}

@media only screen and (min-width: 768px){
	.header .logo img {
        max-width: 100%;
    }
	ul#ui-id-2 {
       padding: 0 100px;
    }
}
