<div id="checkout" data-bind="scope:'checkout'" class="checkout-container">
    <div id="checkout-loader" data-role="checkout-loader" class="loading-mask">
        <div class="loader">
            <img src="<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
                 alt="<?php /* @escapeNotVerified */ echo __('Loading...'); ?>"
                 style="position: absolute;">
        </div>
    </div>
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#checkout": {
                "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
            }
        }
    </script>
    <script>
        window.checkoutConfig = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getCheckoutConfig()); ?>;
        // Create aliases for customer.js model from customer module
        window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
        window.customerData = window.checkoutConfig.customerData;
    </script>
    <script>
        require([
            'mage/url',
            'Magento_Ui/js/block-loader'
        ], function(url, blockLoader) {
            blockLoader("<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>");
            return url.setBaseUrl('<?php /* @escapeNotVerified */ echo $block->getBaseUrl();?>');
        })
    </script>
    <script>
    require(["jquery"], function ($) {

  	  checkContainer();
  	});

  	function checkContainer () {
  		require(["jquery"], function ($) {
  		
  	
  	  if( $("select[name=country_id]").is(':visible')){ 
  	  
  		var country = $("select[name=country_id]").val();

  		if(country =="NZ")
			{
				$( "div[name*='region']" ).css('display','none');
	  		}
// 			else
// 	  			{
// 				    $( "div[name*='region']" ).css('display','block');
// 	  			}
  	   // alert(country);	
  		$("select[name=country_id]").change(function() {
  	  		
  			var country = $("select[name=country_id]").val();
  		//	alert(country);
  			if(country =="NZ")
  			{
  	  			//var skha = "div[name=shippingAddress.region]";
  	  			//alert(skha);
  	  			$( "div[name='shippingAddress.region']" ).css('display','none');
  				//$("div[name=shippingAddress.region]").css('display','none');
  	  		}
  			else
  	  			{
  			    	$( "div[name='shippingAddress.region']" ).css('display','block');
  	  			}

  			 if($( "div[name='shippingAddress.region_id']").is(':visible')){ 

  				$( "div[name='shippingAddress.region']" ).css('display','none');
  	  		  	  }
  			//var pass = document.getElementById('password').value;
  		//	document.getElementById('password-confirmation').value =pass;  
  	   });
  	 

  	   
  	  } else { 
  	    setTimeout(checkContainer, 100); 
  	   
  	 
  	  }
  		});
  		}
    </script>
</div>
