<?php if( $this->isPopupEnabled() ): ?>
<iframe id="popup-iframe" src="<?php echo $block->getUrl('popup/index/index', array('_secure'=>true)) ?>" frameBorder="0"></iframe>
<style type="text/css">
#popup-iframe{
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height: 100%;
	z-index: 11111111;
}
	
@media(max-width: 767px){
	body{
		overflow: hidden;
	}
}

</style>

<script type="text/javascript">
	function closeIFrame(){
			fadeOutEffect();
		}

	function fadeOutEffect() {
	    var fadeTarget = document.getElementById("popup-iframe");
	    var body = document.getElementsByTagName('body')[0];
	    var fadeEffect = setInterval(function () {
	        if (!fadeTarget.style.opacity) {
	            fadeTarget.style.opacity = 1;
	        }
	        if (fadeTarget.style.opacity < 0.1) {
	            clearInterval(fadeEffect);
	            fadeTarget.parentNode.removeChild(fadeTarget);
	        } else {
	            fadeTarget.style.opacity -= 0.1;
	        }
	       body.style.overflow ='visible';
	        
	    }, 50);
	}

</script>

<?php endif; ?>