<div class="popup_container">
  <div class="welcome_sec" id="welcome_sec">

    <div class="wTop">
      <div class="wLogo">
        <a href="#"><img src="<?php echo $this->getViewFileUrl('Pantryzen_Popup/images/logo.png'); ?>" width="180" height="180" alt="" /></a>
      </div>
      <div class="wTxt">
        <h1><?php if( $this->getHeading() ): ?><?php echo $this->getHeading();?><?php else: ?>WELCOME<?php endif; ?></h1>
        <p>
          <?php if( $this->getSubHeading() ): ?>
              <?php echo $this->getSubHeading();?>
          <?php else: ?>
              Let’s check if you’re in the bicycle delivery area for fresh products
          <?php endif; ?>
        </p>
      </div>
    </div>
 
    <div class="wBottom">
      <div class="wCheck_sec">
        <div class="row">
          <div class="textboxwidth right-padding">
            <input name="my_location" id="my_location" type="text" class="input_tbox_check wTbox_location" placeholder="Enter your address here..." />
            <span class="current-location-icon" onclick="getCurrentLocation();"><img src="<?php echo $this->getViewFileUrl('Pantryzen_Popup/images/icon_txtbox.png'); ?>"></span>
            <div class="content">       
              <span>Example: 5 Riddiford Street, Wellington, New Zealand</span>
            </div>
          </div>
          <div class="buttonwidth left-nopadding top-marg">
            <input name="find_location" type="button" class="input_check" value="Check" onclick="showLocation(document.getElementById('my_location').value);" />
          </div>
        </div>
        <div class="fullSizemap">
          <div id="googleMap"></div>
        </div>
      </div>
   </div>
    
    
  </div>
</div>

<script>
  document.onclick = function(e) {
    parent.closeIFrame();
  }

  document.getElementById('welcome_sec').onclick = function(e) {
    e.stopPropagation();
  }

</script>
