<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<?php echo $this->getApiKey();?>&callback=initializeMap&libraries=places"></script>
<script>

	var map;
	var markers = [];
	var default_add = '<?php echo ($this->getDefaultLocation()) ? $this->getDefaultLocation() : 'Christchurch, New Zealand'; ?>';

	function initialize() {
		var latlong = new google.maps.LatLng(-43.532780,172.619732);

		var mapProp = {
			center:latlong,
			zoom:13,
			mapTypeId:google.maps.MapTypeId.ROADMAP,
			mapTypeControl: false,
			streetViewControl: false,
			rotateControl: false,
		};
		var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);

		var marker = new google.maps.Marker({
			position: latlong,
			title:    default_add,
			visible:  true
		});
		marker.setMap(map);

		showLocation(default_add);

		/*var options = {
			types: ['(cities)'],
		  	componentRestrictions: { 'country': "nz"}
		};*/

	}

	function wait_for_google_load(){
		if( typeof(google) !== 'undefined' ){
			google.maps.event.addDomListener(window, 'load', initialize);
		}else{
			setTimeout('wait_for_google_load()',1000);
		}
	}


	function showLocation(address) {
	    address = address || default_add;
	    // Initialize the Geocoder
	    geocoder = new google.maps.Geocoder();
	    if (geocoder) {
	        geocoder.geocode({
	            'address': address
	        }, function (results, status) {
	            if (status == google.maps.GeocoderStatus.OK) {
	                var result = results[0];
	                var latlong = new google.maps.LatLng(result.geometry.location.lat(),result.geometry.location.lng());

	                var mapProp = {
						center:latlong,
						zoom:13,
						mapTypeId:google.maps.MapTypeId.ROADMAP,
						mapTypeControl: false,
						streetViewControl: false,
						rotateControl: false
					};
					var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);

	                var marker = new google.maps.Marker({
						position: latlong,
						title:    address,
						visible:  true
					});
					marker.setMap(map);
	            }
	        });
	    }
	}


	function getCurrentLocation(){

		// Try HTML5 geolocation.
        if (navigator.geolocation) {
          	navigator.geolocation.getCurrentPosition(function(position) {

	            var pos = {
	              lat: position.coords.latitude,
	              lng: position.coords.longitude
	            };

	            var latlong = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);

				var mapProp = {
					center:latlong,
					zoom:13,
					mapTypeId:google.maps.MapTypeId.ROADMAP,
					mapTypeControl: false,
					streetViewControl: false,
					rotateControl: false,
				};
				var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);

				var marker = new google.maps.Marker({
					position: latlong,
					title:    'My current Location',
					visible:  true
				});
				marker.setMap(map);

           
          }, function(){
        	alert("Geolocation is not supported by this browser.");          	
          });
        } else {
        	alert("Geolocation is not supported by this browser.");
        }
	}


	wait_for_google_load();
</script>